@model BitBookApp.ViewModel.Profile.ViewModelChangePassword 
@{
    Layout = "~/Views/Shared/_EditProfile.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
</head>
<body>
<div>

@using (Html.BeginForm("ChanagePasswordEdit", "Profile"))
{   
    @Html.LabelFor(a=>a.Password )
    @Html.PasswordFor(a => a.Password, new { @class = "form-control" })
   
    <button type="submit" class="btn btn-info" style="margin-top: 10px;"> Save Changes </button>

}

</div>
</body>
</html>
